/* Media query for larger screens */
@media (min-width: 768px) {
    #board, #Settings, #topFive, aside {
        width: auto; /* Auto width on larger screens */
        margin: 10px; /* Spacing around elements */
    }

    #Settings, #topFive {
        max-width: 200px; /* Limit the width of side sections */
    }
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    width: 200px; /* Set a fixed width for the aside section */
}

#players th {
    padding: 10px; /* Adjust the value to control the amount of padding */
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* To place the board and aside sections side by side */
    align-items: flex-start; /* Align the top of the container */
}

.image-container {
    width: 90px; /* Smaller than the card */
    height: 90px; /* Smaller than the card */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    flex: 1;
    margin-bottom: 20px;
}

#Settings, #topFive, aside {
    width: 100%; /* Full width on mobile */
}

#startGame {
    align-self: center; /* Center the start game button */
    margin-top: 20px;
}

header {
    align-self: flex-end; /* Align the header to the right */
    width: 100%; /* Ensure the header takes full width */
}